* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  border: none;
}

.altaCategoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* establacer altura mínima al 100% del viewport*/
  background-color: #c3f2c2;
}

p {
  padding: 1rem;
  background-color: #4caf50;
  border: none !important;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 1.5rem;
  transition-duration: 0.4s;
  cursor: pointer;
  max-width: 80%; /* establecer el ancho máximo del párrafo para evitar que se extienda demasiado */
}
p {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
p:hover {
  background-color: #4caf50;
  color: white;
}
p a {
  color: #455946;
  text-decoration: none;
}



