* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #374036;
  background-color: #c3f2c2;
}

.ficha {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 2rem;
  position: relative;
}

h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #374036;
}

h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 100%;
  max-width: 350px;
  background-color: #9ebf99;
}

p {
  margin: 1rem 0;
  font-size: 1.1rem;
}

img {
  max-width: 100%;
  height: auto;
}
